body{
    font-weight: normal;
}

.title_other_recipes{
    color: gold;
    font-size: 23px;
    margin: 30px;
}
.other_recipes a{
    margin-left: 40px;
    transition: .3s ease;
    position: relative;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 17px;
    background-color: rgba(255, 166, 0, 0.674);
    &:hover{
        transition: .3s ease;
        background-color: rgba(255, 166, 0, 0.893);
    }
}
.recipe-container{

    display: flex;
    flex-direction: column;
    background-color: rgba(24, 24, 24, 0.92);
    border-radius: 15px;
    padding: 30px;
    padding-left: 50px;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%; 
    .recipe-info{
        padding: 0 20px 0 20px;
        .recipe-info-title{
            
            margin-top: 20px;
            font-size: 17px;
            color: rgb(255, 225, 169);
            margin-bottom: 10px;
        }
        .recipe-info-name{
            margin: 10px 0 20px 0;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .recipe-info-introduction{
            padding: 10px;
            font-size: 20px;
            line-height: 1.4em;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: auto;
            background-color: rgba(240, 248, 255, 0);
            border: 1px solid rgb(255, 255, 0, 0.35);
            color: whitesmoke;
            min-width: 47%;
            min-height: 200px;
            max-height: 400px;
        }
        .photo-file-download{
            position: relative;
        }
        .file-download{
            display: block;
            position: absolute;
            background-color: red;
            border-radius: 10px;
            max-width: 300px;
            opacity: 0;
            cursor: pointer;
            min-height: 300px;
            bottom: -20px;
    
        }
        .photo-download{
            display: flex;
            position: relative;
            cursor: pointer;
            background-color: rgb(59, 59, 59);
            border-radius: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            margin: 15px 0;
            
            .photo-download-img{
                border-radius: 10px;
                max-width: inherit;
            }
        }
        ul{
            padding: 10px;
            li{
                padding-left: 20px;
                position: relative;
                margin-bottom: 10px;
                &::before{
                    content: '';
                    position: absolute;
                    top:7px;
                    left: 0;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background-color: rgb(255, 205, 112);
                }
               
            }
        }
        .recipe-info-steps{
            padding: 10px;
            
            .recipe-info-step{
                line-height: 1.4em;
                margin-bottom: 20px;
                .recipe-info-step-title{
                    margin-bottom: 10px;
                    color: rgb(210, 197, 114);
                }
    
            }
        }
        
    }
    .recipe-container-title{
        color: rgb(255, 193, 79);
        font-size: 22px;
        font-weight: bold;
    }
    form{
        text-align: center;
    }
    
    
    
}